############################################
# Visual Studio / Rider
############################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

############################################
# Build results
############################################

bin/
obj/
dist/

############################################
# Rider
############################################

.idea/

############################################
# VS Code
############################################

.vscode/

############################################
# NuGet
############################################

*.nupkg
*.snupkg
packages/
.nuget/

############################################
# Logs
############################################

*.log

############################################
# OS junk
############################################

.DS_Store
Thumbs.db

############################################
# Publish artifacts
############################################

publish/

############################################
# PowerShell artifacts
############################################

*.ps1~
