[Desktop Entry]
Version=1.0
Type=Application
Name=Read Zen
Comment=Read Zen Application
Exec=/mnt/Samsung980_1TB/Rust-projects/not-rust-projects/ReadZen/run-cbeta-selfcontained.sh linux-x64
Icon=applications-other
Terminal=false
Categories=Office;Education;
StartupNotify=true
